<h3>Create a group of teams</h3>
<p></p>
<form>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-10">
            <input id="inputName" type="text" class="form-control" name="name">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Description:</label>
        <div class="col-sm-10">
            <input id="inputDescription" type="text" class="form-control" name="description">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button id="buttonCreate" type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
</form>
<div id="divResults">
</div>