<table class="table">
    <thead>
    <tr>
        <th>Id</th>            
        <th>Name</th>
    </tr>
    <body>
        {{#each .}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
            </tr>
        {{/each}}
    </body>
    </thead>
</table>