<table class="table">
    <thead>
    <tr>           
        <th>Name</th>
        <th>Description</th>
        <th>Teams</th>
    </tr>
    <body>
        <tr>
            <td>{{name}}</td>
            <td>{{description}}</td>
            <td>{{teams}}</td>
        </tr>
    </body>
    </thead>
</table>