<body>
    <div class="container">
        <div id="divNavbar"></div>
        <h1>FOCA</h1>
        <hr>
        <div id="divAlerts"></div>
        <div id="divMain">
            <!--current code goes here-->
        </div>
        <div>
            <div class="card-footer">
                <small>References</small>
            </div>
            <div class="card-body">
                <ul>
                    <li class="card-text">
                        <small>Application built with Node.js support.</small>
                        <img src="./../img/seal.jpg" width="90px">
                        <img src="./../img/seal1.jpg" width="90px">
                        <img src="./../img/seal2.jpg" width="90px">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>